<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
<ion-content>
    <ion-header translucent>
        <ion-toolbar color="primary">
            <ion-title>Bug Tracker - <%= pageTitle%></ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
            <ion-row>
                <ion-col size-md="4" offset-md="4" possition="centre">
                    <form class="bug-form" action="/add-bug" method="POST">
                        <ion-item>
                            <ion-label  position="fixed">Bug title</ion-label>
                            <ion-input align="right" required="true" type="text" name="title" id="title"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="fixed">Description</ion-label>
                            <ion-input align="right" required="true" name="description" id="description"></ion-input>
                        </ion-item>

                        <ion-item>

                            <ion-label>Assigned to</ion-label>
                            <ion-select name="assignedTo" placeholder="Select One">
                                <% for (let user of allUsers) { %>
                                <ion-select-option name="assignedBy" selected value="<%= user.fullName%>"><%= user.fullName%></ion-select-option>
                                    <% } %>
                            </ion-select>

                        </ion-item>
                        <ion-item>
                            <ion-label position="fixed" disabled>Assigned by</ion-label>
                            <ion-input align="right" disabled value="<%= user%>" name="assignedBy" id="assignedBy"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label>Priority</ion-label>
                            <ion-select name="priority" placeholder="Select One">
                                <ion-select-option selected value="Low">Low</ion-select-option>
                                <ion-select-option value="Medium">Medium</ion-select-option>
                                <ion-select-option value="High">High</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label>Status</ion-label>
                            <ion-select name="status" placeholder="Select One">
                                <ion-select-option selected value="Open">Open</ion-select-option>
                                <ion-select-option value="Resolved">Resolved</ion-select-option>
                                <ion-select-option value="Closed">Closed</ion-select-option>
                            </ion-select>

                        </ion-item>


                        <ion-input type="hidden" name="_csrf" value="<%= csrfToken %>"> </ion-input>
                        <ion-button name="submitBtn" type="submit" color="primary">Submit</ion-button>
                        <ion-button href="/" color="warning">Cancle</ion-button>

                    </form>
                </ion-col>
            </ion-row>
        </ion-grid>
    <ion-alert-controller></ion-alert-controller>
</ion-content>

<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
</body>
</html>